[profile.default]
src = "contracts"
out = "out"
libs = ["node_modules"]
solc = "0.8.28"
optimizer = true
optimizer_runs = 200
via_ir = true
evm_version = "cancun"

[profile.default.fmt]
line_length = 120
tab_width = 4
bracket_spacing = true

[rpc_endpoints]
ethereum = "${ETHEREUM_RPC}"
sepolia = "${ETHEREUM_SEPOLIA_RPC}"
blockdag = "${BLOCKDAG_RPC}"

[etherscan]
ethereum = { key = "${ETHERSCAN_API_KEY}" }
sepolia = { key = "${ETHERSCAN_API_KEY}" }
